.single-blog-container {
  max-width: 1140px;
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
}
.blog-image {
  width: 100%;
  height: 400px;
  background-size: cover;
  border-radius: 15px;
}
.sb-blog-title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  color: #000;
  text-align: left;
  margin-top: 10px;
  font-weight: 500;
}
.sb-blog-category {
  background-color: #4b6bfb;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.sb-card-author-avatar {
  height: 28px;
  width: 28px;
}
.sb-author-details {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.sb-edit-n-cate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-option-btn {
  cursor: pointer;
  padding: 10px;
  background-color: #4b6bfb;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border-radius: 5px;
  position: relative;
}
