.resetPass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.resetPass-form-container {
  width: 30%;
}
.resetPass-btn {
  width: 100%;
}
.resetPass-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
}
.resetPass-error {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.resetPass_togglePasswordbtn {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.resetPass_togglePasswordbtn:hover {
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}
.resetPass-bottomText {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 8px;
}
.resetPass-message {
  color: rgb(26, 211, 26);
  margin-top: -10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
}
